.hero{
    background-image: url("assets/hero-bg.jpg");
    height: 768px!important;
}
.section{
    height: 720px;
}

.bg-main{
    background-color: #000623;
}

img {
    width: 221px;
    max-height: 295px;
  }

  .card-number {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}
