.hero{
  background-image: url("./assets/hero-bg.jpg");
  min-height: 100vh!important;
}

.section{
  min-height:100vh;
}

.bg-main{
  background-color: #000623;
}

:root {
  --swiper-theme-color: #ffffff!important;
  --swiper-pagination-bullet-inactive-color: #fff!important;
  --swiper-pagination-color: #0d6efd!important;
  --swiper-pagination-bullet-inactive-opacity: 0.5;

}

.swiper-pagination{
  margin-top: 20px!important;
  position: relative!important;
}

.nav-title{
  letter-spacing: 3px;
  transition: 1s;
}

.nav-title:hover{
  letter-spacing: 5px;
}

img{
  transition: 0.5s;
  border: 2px solid ;

}

img:hover{
  transform: scale(1.05);
  border: 2px solid white;

}