.hero{
  background-image: url("./assets/hero-bg.jpg");
  min-height: 100vh!important;
}
.section{
  min-height:100vh;
}

.bg-main{
  background-color: #000623;
}

.swiper{
  width: 80vw;
  overflow: visible;
}

.swiper-slide img{
  width: 80%;
  transition: 0.5s;
}

.swiper-slide img:hover{
  transform: scale(1.05);
}

:root {
  --swiper-theme-color: #ffffff!important;
}